<html>
   <head>
           <title>主页查询</title>
       <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">


       </head>
        <body>
                    <div class="top">
                   <center>
                    <ul>
                    <li><a href="SelectPage.html?content=GetSummaryData">测试结果</a></li>
                    <li><a href="SelectPage.html?content=GetResultsData">汇总数据</a></li>
                    <li><a href="SelectPage.html?content=GetSheetData">测试记录</a></li>

                    <li>
                        <a >添加测试信息</a>
                        <ul>
                        <li><a href="AddTestinfo.html">添加算法信息</a></li>
                        <li><a href="SampleBatch.html">添加样本信息</a></li>
                        </ul>
                    </li>
                      </ul>
                    </center>
            </div>


<form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="form-row">
    <p>算法版本号：<input type="text" name="version" ></p>
    <p>发布时间：<input type="datetime-local" name="release_time"></p>
    <p>开发者：<input type="text" name="developer"></p>
{#    <p>昵称：<input type="text" name="nickname"></p>#}
{#    <p>性别：<input type="text" name="gender"></p>#}
{#    <p>邮件：<input type="email" name="email"></p>#}
{#    <p>手机：<input type="tel"  name="mobile"></p>#}
{#    <p>有效性：<input type="text" name="deleted"></p>#}
{#    <p>头像：<input type="file" name="head" ></p>#}
        <input type="submit" value="添加">
        </div>
{#    <div class="form-row"> <input type="submit" value="注册"></div>#}




</form>
</body>
</html>