<html>
   <head>
           <title>主页查询</title>
       <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">
            <link rel="stylesheet" type="text/css" href="../static/css/pic.css">

       </head>
        <body>
                    <div class="top">
                   <center>
                    <ul>
                         {% for value in head.function %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                    <li>
                            {% for i in head.drop_down %}
                                <a >{{i.title}}</a>
                                <ul>
                                 {% for value in i.data %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                                                        </ul>
                    {% endfor %}
                    </li>
                      </ul>

                    </center>
            </div>



{#<img src="../static/images/timg.jpg"  />#}
        </body>

</html>
