<html>
<head>
 <title>{{ Page_title }}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">
     <link rel="stylesheet" type="text/css" href="../static/css/pic.css">


   </head>

<body>
                    <div class="top">
                   <center>
                    <ul>
                         {% for value in head.function %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                    <li>
                            {% for i in head.drop_down %}
                                <a >{{i.title}}</a>
                                <ul>
                                 {% for value in i.data %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                                                        </ul>
                    {% endfor %}
                    </li>
                      </ul>

                    </center>
            </div>


    <div align="center" class="c">
<p>{{dic.Cultural_Name}}，{{dic.Test_Chart}} </p>
<p>{{attribute.introduction}}</p>
<p>识别结果：{{dic.top1}}</p>
<p>期望结果：{{ dic.Expected_Value}}</p>
<p>耗时：{{dic.TimeConsuming}}</p>
<p>
<img src={{dic.Image_Path}}  />
</p>

</div>
</body>

</html>
