<html>
<head>
<title>图片</title>
        <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">
     <link rel="stylesheet" type="text/css" href="../static/css/pic.css">


   </head>

<body>
                    <div class="top">
                   <center>
                    <ul>
                    <li><a href="SelectPage.html?content=GetSummaryData">测试结果</a></li>
                    <li><a href="SelectPage.html?content=GetResultsData">汇总数据</a></li>
                    <li><a href="SelectPage.html?content=GetSheetData">测试记录</a></li>

                    <li>
                        <a >添加测试信息</a>
                        <ul>
                        <li><a href="AddTestinfo.html">添加算法信息</a></li>
                        <li><a href="SampleBatch.html">添加样本信息</a></li>
                        </ul>
                    </li>
                      </ul>
                    </center>
            </div>


    <div align="center" class="c">
<p>{{dic.Cultural_Name}}，{{dic.Test_Chart}} </p>
<p>识别结果：{{dic.top1}}</p>
<p>期望结果：{{ dic.Expected_Value}}</p>
<p>耗时：{{dic.TimeConsuming}}</p>
<p>
<img src={{dic.Image_Path}}  />
</p>
</div>
</body>

</html>
