<html>
   <head>
            <title>{{ Page_title }}</title>
       <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">

       </head>
        <body>
                    <div class="top">
                   <center>
                    <ul>
                         {% for value in head.function %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                    <li>
                            {% for i in head.drop_down %}
                                <a >{{i.title}}</a>
                                <ul>
                                 {% for value in i.data %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                                                        </ul>
                    {% endfor %}
                    </li>
                      </ul>

                    </center>
            </div>
<form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="form-row">
    <p>样本批次：<input type="text" name="batch" ></p>
{#    <p>类型数：<input type="text" name="types_num"></p>#}
{#    <p>数量：<input type="text" name="total_num"></p>#}
    <p>样本时间：<input type="datetime-local" name="Test_Time"></p>
        <p>样本路径：<input type="text" name="batch_path"></p>

{#    <p>昵称：<input type="text" name="nickname"></p>#}
{#    <p>性别：<input type="text" name="gender"></p>#}
{#    <p>邮件：<input type="email" name="email"></p>#}
{#    <p>手机：<input type="tel"  name="mobile"></p>#}
{#    <p>有效性：<input type="text" name="deleted"></p>#}
{#    <p>头像：<input type="file" name="head" ></p>#}
        <input type="submit" value="添加">
        </div>
{#    <div class="form-row"> <input type="submit" value="注册"></div>#}




</form>
</body>
</html>
