<html>
   <head>
 <title>{{ Page_title }}</title>
           <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">


       </head>
        <body>
                    <div class="top">
                   <center>
                    <ul>
                         {% for value in head.function %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                    <li>
                            {% for i in head.drop_down %}
                                <a >{{i.title}}</a>
                                <ul>
                                 {% for value in i.data %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                                                        </ul>
                    {% endfor %}
                    </li>
                      </ul>

                    </center>
            </div>


    <form action="" method="post">
         {% csrf_token %}
    <div  class="form-row">
            <input class="tb"  type="text" style="display:none" id="content" name="content"  >
            <p>算法版本：<input class="tb"  list="Test_Version" name="Test_Version" placeholder="请选择算法版本">
            <datalist id="Test_Version">Test_Version
                {% for i in dic.Test_Version %}
                <option value={{i}}>
                {% endfor %}
            </datalist>
</p>
            <p>样本批次：<input class="tb"  list="Test_Batch" name="Test_Batch" placeholder="请选择样本批次">
            <datalist id="Test_Batch">Test_Batch
                {% for i in dic.Test_Batch %}
                <option value={{i}}>
                {% endfor %}

            </datalist>
</p>

<input type="submit" value="启动测试" >
</div>

        </form>
        <script>
    var url=decodeURI(window.location .href);
                var aa=url.indexOf('=');
                if (aa>-1){
                url=url.substring(aa+1);
                    document.getElementById("content").value=url;
                }
</script>

        </body>

</html>
