<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <title>{{ Page_title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/daohang.css">
    <link rel="stylesheet" type="text/css" href="../static/css/biaoge.css">
           <link rel="stylesheet" type="text/css" href="../static/css/shurukuang.css">
</head>
<body>
                    <div class="top">
                   <center>
                    <ul>
                         {% for value in head.function %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                    <li>
                            {% for i in head.drop_down %}
                                <a >{{i.title}}</a>
                                <ul>
                                 {% for value in i.data %}
                             <li><a href={{ value.0 }}>{{ value.1 }}</a></li>
                             {% endfor %}
                                                        </ul>
                    {% endfor %}
                    </li>
                      </ul>

                    </center>
            </div>



    <div align="center">

<table border="1">
  <tr>
      {% for key in entry_name_lies %}
        <th>{{ key.0 }}</th>
        {% endfor %}
      {% for key in operation %}
        <th>{{ key.0 }}</th>
        {% endfor %}
  </tr>
  <tr>
              {% for i in dic.datalist %}
			<tr>
            <form action='' method="post">
                         {% for key,value in i.items %}
                            {% csrf_token %}
                            <input class="tb"  type="text" style="display:none" value={{value}} name={{ key }}  >
                            <td>{{ value }}</td>
                             {% endfor %}
                        {% for value in operation %}
                         <td> <input type="submit" value={{ value.0 }} class="btn" name={{ value.1 }}></td>
                             {% endfor %}

                   </form>
                </tr>

    {% endfor %}
  </tr>

</table>

        </div>
</body>
</html>
